# Dependencies
node_modules
npm-debug.log

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore
.github

# Testing
coverage
.nyc_output

# Environment
.env
.env.local
.env.*.local

# Documentation
README.md
*.md

# CI/CD
.trivyignore

# Misc
.DS_Store
*.log